<section>
  <h2>Crie a Sua Própria Sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Insira uma Senha</label>
    <input
      type="password"
      name="password"
      id="room-pass"
      placeholder="Insira uma Senha"
    />
    <button>
      <img src="/images/users-white.svg" alt="" />
      Criar Sala
    </button>
  </form>
</section>
